<div class="caja">

  <a class="boton" href="proveedor">
    <img
    src="https://www.nubefact.com/images/boleta-de-venta-electronica.jpg"
    width="300"
    height="300">
  </a>
  <a class="boton" href="proveedor">
    <img
    src="https://www.nubefact.com/images/boleta-de-venta-electronica.jpg"
    width="300"
    height="300">
  </a>
  <a class="boton" href="proveedor">
    <img
    src="https://www.nubefact.com/images/boleta-de-venta-electronica.jpg"
    width="300"
    height="300">
  </a>
  <a class="boton" href="proveedor">
    <img
    src="https://www.nubefact.com/images/boleta-de-venta-electronica.jpg"
    width="300"
    height="300">
  </a>
</div>
<div class="caja">

  <a class="boton" href="proveedor">
    <img
    src="https://www.nubefact.com/images/boleta-de-venta-electronica.jpg"
    width="300"
    height="300">
  </a>
  <a class="boton" href="proveedor">
    <img
    src="https://www.nubefact.com/images/boleta-de-venta-electronica.jpg"
    width="300"
    height="300">
  </a>

</div>
